<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
        <link rel="icon" href="~/img/favicon.ico" type="image/x-icon">

        <title>McKay's Adventures</title>
    </head>
    <body>
        <header>
            <h1>McKay's Adventures!</h1>
        </header>
        <div>
            @RenderBody()
        </div>

        <footer>
            <p>&copy; 2024 McKay's Adventures. All rights reserved.</p>
            <p>Created by: McKay Lush</p>
            <p>Additional Information | Contact Us | Terms of Service</p>
        </footer>
    </body>
</html>