@{
}
@Html.ActionLink("Get an Estimate - Calculator", "Calculator", "Home")
    <br />
    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 24px; text-indent: 20px;">
        Growing up, my parents decided that we would do something different from most families.
        My dad liked to joke and call it FFF or Forced Family Fun, as it would be some kind of activity that required participation from the whole family. Most of the time this
        would constitue us going on some kind of trip to some random part of the US. From the age of about 8 to 18 we would go on all kinds of trips to see all kinds of random things.
        I've been to all 50 states and have seen everything stretching from the World's Largest Quarter to the Grand Canyon to something as random as a place called the Corn Palace (No, I'm not joking. And yes, it was dope).
    </p>
    <br />
    <img src="~/img/cornpalace.jpeg" height="400" style="display: block; margin: 0 auto;" />
    <p style="text-align:center"><em>The Corn Palace. Mitchell, SD</em></p>

    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 24px; text-indent: 20px;">
        As I grew older and I moved out of the house, I would often reflect upon the great memories
        that were created as my family would drive across the country. I realized that traveling and trips were something that I never wanted to give up. During my first year of college, I tried to go
        to as many new places as I could. One of my trips took me to Death Valley with my older brother and his wife. Death Valley did not disappoint! The stark contrast of the vacant desert and everywhere I've been was both
        shocking and awe-inspiring. I loved it so much that the next year I took my now wife with me so that she could experience the beauty. She absolutely loved it and that was the trip that marked
        our adventures together. We've been married for eight months and have already traveled across the country 3 times, been to 4 new countries together, and have plans to go and visit Europe soon.
    </p>

    <br />
    <img src="~/img/20221203_091439.jpg" height="400" style="display: block; margin: 0 auto;" />
    <p style="text-align:center"><em>Death Valley National Park</em></p>

    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; text-align: center;">
        Traveling is my favorite thing ever and I would love to share and help out anyone looking to go on their own trips and adventures. Feel free to message me and explore the calculator on the other page
        to get an estimate on the cost for my help planning!
    </p>